{% extends 'base.html.twig' %}

{% block title %}FAQS pour l'Application DryvMe{% endblock %}

{% block body %}
<!-- Section -->
  <section class="banner-section pt-3">
    <div class="containe right-118">
      <h1 class=""><span class="louer">FAQS</span> pour l'Application DryvMe</h1>
    </div>
  </section>
  <!-- End Banner section -->

  <!-- FAQS Section -->
  <section class="faqs-section section-pb">
    <div class="containe right-118">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed one" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              1.	Comment puis-je créer un compte sur DryvMe?
            </button>
          </h3>
          <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Pour créer un compte, téléchargez l'application DryvMe, puis sélectionnez l'option "Créer un compte". Remplissez les informations requises telles que votre nom, adresse e-mail, et numéro de téléphone. Vous recevrez ensuite un e-mail de vérification pour activer votre compte.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              2.	Comment puis-je réserver un véhicule sur DryvMe?
            </button>
          </h3>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Connectez-vous à votre compte, sélectionnez le véhicule de votre choix, indiquez les dates de prise en charge et de retour, puis suivez les instructions pour finaliser la réservation. Une confirmation vous sera envoyée par e-mail.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              3.	Quelles sont les méthodes de paiement acceptées sur DryvMe?
            </button>
          </h3>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Nous acceptons les paiements par carte bancaire et Orange Money. Assurez-vous que votre moyen de paiement est correctement configuré dans votre profil.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              4.	Comment sont calculés les frais de transaction?
            </button>
          </h3>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Pour chaque transaction, des frais de service de 5% du montant de la transaction sont facturés au propriétaire du véhicule, et 10% sont facturés au client. Ces frais couvrent les coûts de fonctionnement de la plateforme.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              5.	Comment puis-je annuler ma réservation?
            </button>
          </h3>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Vous pouvez annuler votre réservation via l'application. Les conditions d'annulation dépendent de la politique choisie par le propriétaire du véhicule (Flexible, Modérée, ou Stricte). Veuillez consulter les détails de la réservation pour connaître les conditions spécifiques.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-heading6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
              6.	Que faire si j'ai un problème avec ma réservation ou le véhicule?
            </button>
          </h3>
          <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>En cas de problème, veuillez contacter immédiatement le support DryvMe via l'application ou par e-mail. Nous nous efforcerons de résoudre votre problème dans les plus brefs délais.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-heading7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
              7.	Comment puis-je contacter le propriétaire du véhicule?
            </button>
          </h3>
          <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Une fois votre réservation confirmée, vous recevrez les coordonnées du propriétaire. Vous pouvez également utiliser la fonction de chat intégrée à l'application pour communiquer directement avec lui.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-heading8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
              8.	Comment DryvMe assure-t-elle la sécurité des transactions?
            </button>
          </h3>
          <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-heading8"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>La sécurité est notre priorité. Toutes les transactions sont cryptées et nous effectuons des contrôles réguliers pour assurer la fiabilité des propriétaires et la qualité des véhicules.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-heading9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
              9.	Comment puis-je laisser un avis sur un véhicule ou un propriétaire?
            </button>
          </h3>
          <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-heading9"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Après avoir terminé votre location, vous aurez l'option de laisser un avis et une note sur le véhicule et le propriétaire. Nous encourageons des avis honnêtes pour aider les autres utilisateurs à faire des choix éclairés.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header" id="flush-heading10">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
              10.	Quels sont les critères pour qu'un véhicule soit listé sur DryvMe?
            </button>
          </h3>
          <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-heading10"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Tous les véhicules doivent passer une vérification de qualité et être approuvés par un administrateur DryvMe. Les propriétaires doivent fournir des informations complètes sur le véhicule, y compris des photos récentes, et respecter nos standards de qualité et de sécurité.
                </p>
                <p>
                  Si vous avez d'autres questions spécifiques ou avez besoin d'informations supplémentaires, n'hésitez pas à contacter le support DryvMe. Nous sommes là pour vous aider!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End FAQS Section -->
{% endblock %}
